1.explane the key features of python that make it a popular choice in prigrraming?

answer:-Python has several key features that contribute to its popularity:
beginner-Friendly Syntax: Python's syntax is clear and readable, resembling natural language. This makes it easier for beginners to learn and understand. Versatility: Python is used in a wide range of applications, including web development, data science, machine learning, scripting, and more. This versatility makes it a valuable skill for various career paths. Extensive Libraries and Frameworks: Python boasts a rich ecosystem of libraries and frameworks like NumPy, Pandas, Django, and Flask, providing pre-built functionality for diverse tasks, saving developers time and effort. Large and Active Community: Python has a massive and supportive community of users and developers, which means there's a wealth of resources, tutorials, and assistance available online. Cross-Platform Compatibility: Python runs on various operating systems like Windows, macOS, and Linux, allowing developers to write code once and deploy it across different platforms. Open-Source and Free: Python is open-source software, meaning it's free to use, distribute, and modify. This accessibility makes it a cost-effective choice for individuals and organizations. Object-Oriented Programming: Python supports object-oriented programming concepts, enabling developers to create modular and reusable code, improving code organization and maintainability.

2.Describe the role of predefined keywords in python and giive the example how its work?

ans:-Keywords are reserved words with special meanings. They cannot be used as variable names.
For example, the for keyword is used to create a loop:

This code will print the numbers 0 to 4.

Other examples of keywords are if, else, while, def, and class.

In [1]:
for i in range(5):print(i)

0
1
2
3
4

3.compare and contrats muttable and immutable object in python with example?

ans:-*MUTABLE*:mutable object can be changed after their ceation.example:list,set,dictionary are mutable.
*IMMUTABLE*immutable object can not be changed after their creation.for example string,integer and tuples are immutable.

In [ ]:
#mutable
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [3]:
#immutable
my_tuple = (1, 2, 3)
# Convert the tuple to a list if you need to modify it
my_list = list(my_tuple)
my_list[0] = 4
# Convert the list back to a tuple if needed
my_tuple = tuple(my_list)
print(my_tuple) # Output: (4, 2, 3)

(4, 2, 3)

4.discuss the different types of operators python and how their used in python?

ans:-Python has several types of operators:

Arithmetic Operators: Used for basic mathematical operations.
+ (Addition), - (Subtraction), * (Multiplication), / (Division), % (Modulus), ** (Exponentiation), // (Floor division).
Comparison Operators: Used to compare values.
== (Equal to), != (Not equal to), > (Greater than), < (Less than), >= (Greater than or equal to), <= (Less than or equal to)
Logical Operators: Used to combine conditional statements.
and (Returns True if both statements are true), or (Returns True if one of the statements is true), not (Reverse the result, returns False if the result is true)
Assignment Operators: Used to assign values to variables
= (Assign), += (Add and assign), -= (Subtract and assign), *= (Multiply and assign), /= (Divide and assign), %= (Modulus and assign), **= (Exponentiation and assign), //= (Floor division and assign)
Bitwise Operators: Used to perform bitwise calculations on integers.
& (AND), | (OR), ^ (XOR), ~ (NOT), << (Left shift), >> (Right shift)
Membership Operators: Used to test if a sequence is presented in an object.
in (Returns True if a sequence with the specified value is present in the object), not in (Returns True if a sequence with the specified value is not present in the object)
Identity Operators: Used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.
is (Returns True if both variables are the same object), is not (Returns True if both variables are not the same object)

In [ ]:
#airthmetic operaters
a=5
b=7
print(a+b)

12

In [ ]:
#comparision operaters
a=5
b=5
print(a>=b)

True

In [ ]:
#logical operaters
x=9
print(x>6 and x<10)

True

In [ ]:
#assignment operators
a=5
a+=2
print(a)

7

In [ ]:
#bitwise operaters
a=10
b=5
print(a&b)

0

In [ ]:
#membership operaters
x = ["apple", "banana"]
print("banana" in x)

True

In [6]:
#identity operaters
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x # Assign the value of x to z
print(z)

['apple', 'banana']

5.explain the concept of type casting with example?

ans:-the process of changing the data type of a vairable/object.
example;float to integer
integer to float
string to float
string to integer etc

In [ ]:
#type casting example
#integer to float
a=2
type(a)

int

In [ ]:
b=float(a)
type(b)

float

6.how to conditional statement work in python?wiith illustrates example?

ans:-Conditional statements control the flow of execution based on conditions. The most common conditional statement is the if statement.

if statement:
if-else statement:
if-elif-else statement:

In [7]:
#if statement
x = 10
if(x>5): #Removed extra indent
  print("x is less than 5")

x is less than 5

In [8]:
#if else statemant
x = 3
if x > 5: #Removed extra indent
  print("x is greater than 5")
else:
  print("x is not greater than 5")

x is not greater than 5

In [ ]:
#if elif else statement
x = 10
if x > 15: #removed extra indentation
  print("x is greater than 15")
elif x > 5: #removed extra indentation
  print("x is greater than 5 but not greater than 15")
else: #removed extra indentation
  print("x is not greater than 5")

x is greater than 5 but not greater than 15

7.describe the different type of loops in python and their uses case example?
ans;-Python offers two primary types of loops: for and while.

for loop:
Use case: Iterating over a sequence (list, tuple, string, range) or other iterable objects.
Example:
fruits = ["apple", "banana", "cherry"]
      for fruit in fruits:
        print(fruit)

        while loop:
Use case: Repeating a block of code as long as a condition is true.
Example:
count = 0
     while count < 5:
       print(count)
       count += 1
       Nested loops:

You can have loops inside other loops (nested loops). This is useful for working with multi-dimensional data structures like matrices.
Example:
for i in range(3):
      for j in range(2):
          print(f"({i}, {j})")

In [13]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [11]:
count = 0
while count < 5: #Removed extra indent
  print(count)
  count += 1

0
1
2
3
4

In [9]:
for i in range(3):
      for j in range(2):
          print(f"({i}, {j})")

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)